select.selectCustom{
    color:green;
    background-color: black;
    border-style: solid;
    border-color:green;
    font-size:22.5px;
 }

 .button2{
   color:green;
   background-color: black;
   border-style: solid;
   border:1%;
   border-color: green;
   padding:1%;
  /* float:left;*/
  display: inline-block;
   
}

button2:hover{
   color:black;
   background-color: green;
   cursor: pointer;
}