@import url('https://fonts.cdnfonts.com/css/share-tech-mono'); /*font usato nei terminali della saga*/
  

body {
    font-family: 'Share Tech Mono',sans-serif; font-size:  22px;
    background-color: black;
    color:green;
}



.popup{
	width: 1000px;
	height: 2000px;
	background: black;
	margin: 40px auto;
	padding: 10px 20px;
	position: relative;
	color: green;
    border:solid;
    border-color: green;
}

.overlay{
	position: fixed; /* schermo intero*/
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
  height: 100vh;
	background: rgba(0,0,0,0.7); /* colore sfondo e opcità */
	text-align: center;
	display: flex; /*cambiaremo in display: none*/
}

#close{
	position: absolute;
	top: -20px;
	right: -20px;
	color: #fff;
}

#close:hover{
	cursor: pointer;
}

div.topnav {
    background-color: black;
    overflow: hidden;
    margin-left: 4.5%;
    margin-right: 4.5%;
    
  }

  .topnav a {
    float: left;
    color: green;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Share Tech Mono';
    background-color: black;
    
  }

  /* cambia il colore quando si passa sopra con il mouse */
.topnav a:hover {
    background-color: green;
    color: black;
  }
  
  /* colora il link attivo */
  .topnav a.active {
    background-color: black;
    color: yellow;
  }

  div.container {
    display: flex;
    justify-content: center;
  }

  button{
    color:green;
    background-color: black;
    border-style: solid;
    border:1%;
    border-color: green;
    padding:1%;
    float:left;
    font-size:25px;
    margin: 2%;
    
 }

 button:hover{
    color:black;
    background-color: green;
    cursor: pointer;
 }

 select.selectCustom{
    color:green;
    background-color: black;
    border-style: solid;
    border-color:green;
    font-size:22.5px;
 }

 input {
    background: black;
    border: 1px solid green;
    margin-top:.5rem;
    padding: .5rem;
    color: green;
    font-size:x-large;
    
 }

 input:hover{
    color:black;
    background-color: green;
    cursor: pointer;
 }

 optgroup{
    font-style: normal;
 }

 div.colonnaGrandeScroll{
    overflow-y: scroll;
    float : left;
  width : 95%;
  margin-left : 2%;
   margin-right: 2%;
  color : green;
  position:flex;
  border-style: solid;
  border-color: green;
  max-height: 600px;
  
  }

  hr{
    color:green;
  }

  p.evidenzia{
    color:yellow;
  }

  h3{
    color:yellow;
  }

  div.containerTitolo{
    display:flex;
    justify-content: left;
  }
  
  .buttonF{
    border-style:none;
    margin:0%;
    font-family: 'Share Tech Mono',sans-serif; font-size:  40px;
    padding:0%
    
  }
  
  div.colonnaGrande {
    width: 50%; 
  padding: 4%;
  box-sizing: border-box;
  border: 1px solid green;
 border-left-style: none;
 border-right-style: none;
  } 



div.containerP{
display:flex;
justify-content: space-between;
} 

div.sottoCategoriaCustom{
    display:none;
}

div.colonnaGrandeC {
    width: 50%; 
  padding: 4%;
  box-sizing: border-box;
  border: 1px solid green;
   border-right-style: none;
  
  }  
 div.colonnaGrandeCR{
    width: 50%; 
  padding: 4%;
  box-sizing: border-box;
  border: 1px solid green;
   border-left-style: none;
  
  }  