@import url('https://fonts.cdnfonts.com/css/share-tech-mono'); /*font usato nei terminali della saga*/
  

body {
    font-family: 'Share Tech Mono',sans-serif; font-size:  22px;
    background-color: black;
}

div.topnav {
    background-color: black;
    overflow: hidden;
    margin-left: 4.5%;
    margin-right: 4.5%;
    
    
    
  }

  .topnav a {
    float: left;
    color: green;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Share Tech Mono';
    background-color: black;
    
  }

  /* cambia il colore quando si passa sopra con il mouse */
.topnav a:hover {
    background-color: green;
    color: black;
  }
  
  /* colora il link attivo */
  .topnav a.active {
    background-color: black;
    color: yellow;
  }

  div.pannelloSinistro{
    position: relative;
    left:0%;
    height:70%;
    width:30%;
    border-style: solid;
    border-color:green;
  }

  div.pannelloDestro{
    position: relative;
    left: 35%;
    width: 65%;
    max-height:500px;
    border-style:none;
    overflow-y: scroll;
    transform: translateY(-15%); /*per metterlo più in alto o piu in basso*/
  }

  p.testoGenerico{
    color:green;
  }

  hr{
    color:green;
  }

  img.avatar{
    width:70px;
    height: 70px;
    object-fit: cover;
    border-style:solid;
    border-color:green;
    border-width:3px;
  }

 /* div.contenitoreImmagini{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; permette agli elementi di andare a capo*/
    /*gap:10px;
    align-items:center;
  }*/

  .button{
    color:green;
    background-color: black;
    border-style: solid;
    border:1%;
    border-color: green;
    padding:1%;
   /* float:left;*/
   display: inline-block;
   height:50px;
   width:100px;
   flex-wrap: wrap;
    
 }

 .button:hover{
    color:black;
    background-color: green;
    cursor: pointer;
 }

 
 button:hover{
    color:black;
    background-color: green;
    cursor: pointer;
 }
 #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
}

#popup {
    position: fixed;
  color:green;
  
   /* visibility: hidden;*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  max-height: 400px;
    width: 500px;
    padding: 20px;
    background-color: black;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    z-index: 1000;
  border-style:solid;
  border-color:green;
  overflow-y:scroll;
}

#popup .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
}

textarea{
    border-style:solid;
    border-color:green;
    background-color: black;
 
    color:green;
  }
  
  select{
    color:green;
    background-color:black;
    border-color:green;
    
  }

  h1{
    color:yellow;
  }

  .button1{
    color:green;
    background-color: black;
    border-style: solid;
    border:1%;
    border-color: green;
    padding:1%;
   /* float:left;*/
   display: inline-block;
   height:50px;
   width:133px;
   flex-wrap: wrap;
    
 }

 .button1:hover{
    color:black;
    background-color: green;
    cursor: pointer;
 }
 .date{
  color:green;
  background-color: black;
  border-style: solid;
  border:1%;
  border-color: green;
  padding:1%;
 /* float:left;*/
 display: inline-block;
 height:50px;
 width:110px;
 flex-wrap: wrap;
  
}

.date:hover{
  color:black;
  background-color: green;
  cursor: pointer;
}


